
.nav
{
    border: black 0px solid;
    height: 70px;
    margin-top: 100px;
    background-color: rgb(0, 195, 255);
}
@media screen and (min-width: 600px) {
    .nav
    {
      margin-top: 250px;
    }


  }