
.footer
{
    height: 20px;
    border: black 0px solid;
    border-radius: 10px;
    background-color: #3498db;
    margin-top: 100px;
    box-shadow: 0px 0px 5px 1px rgb(190, 188, 188);
    text-align: center;
    padding: 5px;
    padding-top: 10px;
    padding-right: 15px;
    justify-content: center;
}

.footer > p
{
   color: rgb(168, 211, 247);
   font-size: 13px;
   margin-top: 0px;
   margin-bottom: 5px;
}

.foo_name
{
    color: whitesmoke;
    font-weight: 600;
}

@media screen and (min-width: 600px) {
    .footer
    {
        height: 30px;
        border: black 0px solid;
        border-radius: 10px;
        background-color: #3498db;
        margin-top: 300px;
        text-align: right;
        padding: 5px;
        padding-top: 15px;
        padding-right: 15px;
        justify-content: center;
    }

  }